In [1]:

import numpy as np
import pandas as pd 
data=pd.read_csv('bbb.csv')
data.head()

  citations    size inlibrary        price editions  buy
0      some   small        no  affoirdable     many   no
1      many     big        no    expensive      one  yes
2      some     big    always    expensive      few   no
3      many  medium        no    expensive     many  yes
4      many   small        no   affordable     many  yes

In [2]:
concepts = np.array(data)[:,:-1]
concepts

array([['some', 'small', 'no', 'affoirdable', 'many'],
       ['many', 'big', 'no', 'expensive', 'one'],
       ['some', 'big', 'always', 'expensive', 'few'],
       ['many', 'medium', 'no', 'expensive', 'many'],
       ['many', 'small', 'no', 'affordable', 'many']], dtype=object)

In [3]:
target = np.array(data)[:,-1]
target

array(['no', 'yes', 'no', 'yes', 'yes'], dtype=object)

In [4]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val=='yes':
            specific_h =  con[i].copy()
            break
    for i,val in enumerate(con):
        if tar[i]=='yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
    return specific_h 

print(train(concepts,target))

['many' '?' 'no' '?' '?']